.button {
  width: 250px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: grey;
}

.primary {
  background-color: #ffc400;
  color: rgb(66, 66, 66);
  font-weight: bold;
}

a {
  color: rgb(54, 54, 54);
  margin: 10px;
}
